body {
    background-color: black;
    color: white;
}

p {
    margin: 0;
}

.inWordColorControl {
    color: #D60B0B;
}


.menuLinks {
    text-decoration: none;
    color: white;
    
}
.topMenu {
    display: flex;
    justify-content: end;
    margin-right: 9%;
    font-family: "DM Sans", sans-serif;
    font-size: 2.5rem;
    font-weight: 400;
    font-style: normal;
    color: white;
}

.menu1 {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.menuElement {
    list-style: none;
    margin: 0 30px 0 30px;
    padding: 0;
}

.backgroundBlock {
    background-color: #01164090;
    margin: 0 2.5rem 0 2.5rem;
       display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 96%;
    background: linear-gradient(0.50turn, #011640, #010B20, #000000, #000000, #011640, #205373, #5FC2D9);
}

.alignmentBox {
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 90%;
}

.attentionImage {
    margin-top: -5rem;
    width: 49.8125rem;
    height: 38.0625rem;
}

.headerContentBox {
    display: flex;
    flex-direction: column;
    margin-top: -10rem;
}

.socialIcons {
    display: flex;
    justify-content: flex-end;   
}

.iconSpace {
    margin: 0 1rem 0 1rem;
}

.mainTittle {
    font-family: "DM Sans", sans-serif;
    font-size: 40px;
    font-weight: 600;
    font-size: 1400%;
    margin: -2rem 0 0 0;
}

.profileBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 103rem;
    margin: 8rem 0 10rem 0;
}

.skillsBox {
    display: flex;
    flex-direction: column;
}

.skillsWords {
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 720.75%;
    margin: 0
    ;
}

.profilePic {
    border-radius: 50%;
    width: 24.25%;
    height: 24.25%;
}

.oneRuleToRuleThemAllOneRuleToFindThemOneRuleToBringThemAllAndInTheDarknessBindThem {
    width: 90%;
    align-self: center;
    color: #ffffff46;
}

.skillsBigSection {
    font-family: "DM Sans", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    font-style: normal;
    color: white;
}
.sectionSubtitle {
    font-family: "DM Sans", sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 0;
}

.sectionSubtitle1 {
    font-family: "DM Sans", sans-serif;
    font-size: 3.75rem;
    font-weight: 400;
    font-style: normal;
    color: white;
    margin: 8rem 0;
    display: flex;
    justify-content: center;
}

.projectsSlider {
    margin: 0 0 8rem 0;
    width: 101.875rem;
}

.sectionBox1 {
    display: flex;
    flex-direction: row;
    margin: 10rem 0 10rem 0;
    justify-content: space-evenly;
    align-items: center;

}

.sectionBox2 {
    display: flex;
    flex-direction: row-reverse;
    margin: 10rem 0 10rem 0;
    justify-content: space-evenly;
    align-items: center;
}

.sectionParagraphBox {
    margin: 0 8rem;
}

.skillImages{
    margin: 8rem;
    width: 25.875rem;
    height: 25.875rem;
}

.skillImagesDesign {
    margin: 8rem 10rem;
    width: 25.875rem;
    height: 25.875rem;
}

.skillImagesDeveloper {
    margin: 8rem 8.5rem;
    width: 25.875rem;
    height: 25.875rem;
}

.oneRuleToRuleThemAllOneRuleToFindThemOneRuleToBringThemAllAndInTheDarknessBindThem2 {
    margin: 0 0 6rem 0;
}

.copyLeft {
    font-family: "Arimo", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    display: flex;
    color: #737373;
    justify-content: center;
    margin: 2rem 0 6rem 0;
}
.menu2 {
    display: flex;
    flex-direction: row;
    margin: 6rem 0 0 0;
    display: flex;
    justify-content: center;
    font-family: "DM Sans", sans-serif;
    font-size: 1.875rem;
    font-weight: 400;
    font-style: normal;
    color: white;
}